/* add all items from grading group 3 and 4. Search for items in group 5 that refer to css f.e. z index */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Fira Code", monospace;
}

body {
  background-color: black;
  color: #ff4ad8;
  max-height: initial;
  width: 100vw;
  margin: 0 auto;
}

form {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 40px;
  
}

fieldset{
  border: #a827cc double 3px;
}

fieldset > legend{
  border: #a827cc solid 3px;
  max-width: fit-content;
  align-self: center;
  background-color: black;
  color: #ff4ad8;
}

fieldset > label{
  background-color: black;
  color: #ff4ad8;
}

fieldset > *{
  width: 95%;
  background-color: #222222;
  color: #ebd4ff;
  margin: 5px;
  border-color: #943a3a;
  max-width: 75vw;
}

#submit {
  max-width: fit-content;
  border-color: #5f1919;
  padding: 10px 20px;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

section.mainContent {
  flex-direction: row;
}

section.mainContent > article {
  width: 80%;
}

aside {
  max-width: 20%;
}

aside > p {
  border-style: solid;
  border-color: #4587cf;
  border-width: 3px;
}

h1 {
  color: #bd5555;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  word-spacing: 4px;
  margin: 10px;
  line-height: 120%;
}

h2 {
  color: #a827cc;
  text-align: center;
}

article {
  flex-direction: row;
}

figure {
  border-color: yellow;
  border-width: 2px;
  border-style: dotted;
  min-height: 230px;
  max-width: 200px;
  position: relative;
}

img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

figcaption {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

p {
  letter-spacing: 1px;
  line-height: 150%;
  text-indent: 2%;
  word-spacing: 2px;
  font-size: 1rem;
  margin: 40px;
}

footer {
  width: 100%;
  background-color: #222222;
  position: sticky;
  bottom: 0;
  align-self: center;
}

footer p {
  color: #ebd4ff;
  font-size: 12px;
  margin: 2px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

a.navButton {
  border: none;
  color: #ff7ce3;
  padding: 8px 16px;
  text-align: center;
  font-size: 20px;
  margin: 10px 10px;
  min-width: 200px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent;
  border-color: #5f1919;
  border-style: solid;
  border-width: 2px;
  text-decoration: none;
}

a.navButton:hover {
  background-color: #5f1919;
  color: #ebd4ff;
}

a.navButton:active {
  padding: 6px 14px;
  min-width: 196px;
  background-color: #4e0808;
}

#current {
  background-color: #cf3caf;
  color: #222222;
}

p.cookies {
  font-size: 2px;
  line-height: 0px;
  margin: 0px;
  z-index: 9999;
}

/*responsiveness*/
@media (width <= 768px) {
  section.mainContent > article {
    width: 70%;
  }

  aside {
    max-width: 30%;
  }
  nav {
    flex-direction: column;
  }
  h1 {
    font-size: 2.5rem;
  }
  footer {
    position: relative;
    margin-top: auto;
  }
  .navButton {
    min-width: 90%;
  }
}

@media (width <= 390px) {

  section.mainContent{
    flex: none;
  }
  section.mainContent > aside , h3{
    float: left;
    visibility: hidden;
    max-width: 0%;
    position: fixed;
    left: 0px;
  }

  section.mainContent > form, textarea{
    max-width: 100%;
    min-width: 0%;
  }
}

@media (width > 768px) {
  nav {
    flex-direction: row;
  }
}

@media (max-width: 1350px) {
  nav {
    flex-wrap: wrap;
  }
}
